@CHARSET "UTF-8";
    body {padding:0; margin: 0; font-family:arial,Hiragino Sans GB,Microsoft Yahei,"宋体";}
    .main {width:100%; margin:0 auto; min-width:1280px;}
    .main .bg_img {position: absolute; width:100%; height:100%;}
    .centerNav {position: relative; margin:0 auto; width:100%;}
    
    .centerNav .cTitle {position: relative; margin:0px auto; width:28%; border:1px solid transparent;}
    .centerNav .cTitle .title_img {float:left; margin:15px 5px 0px 30px;}
    .centerNav .cTitle .title_img img {width:40px;}
    .centerNav .cTitle .title_font {float:left; margin:22px 5px; color:#ffffff; font-size:20px; height:20px; text-align:center;}
    
    .centerNav .cSelect {position: relative; margin:0px; top:46px; height:100px; left:7%; width:15%;}
    .centerNav .cSelect .selects {float:left; width:40%; margin:6px 5px; color:#ffffff; font-size:20px; height:20px; text-align:center;}
    .centerNav .cSelect .stu_select {float:left; width:49%; margin:0px; color:#ffffff; font-size:20px; height:20px; text-align:center;}
    
    .centerNav .cRoom {position: absolute; top:124px; left:45%; width:10%;}
    .centerNav .cRoom .rooms {width:100%; color:#ffffff; font-size:15px; text-align:center; cursor: pointer;}
    
    .centerNav .cRaws {position: absolute; top:85px; left:82%; width:180px; text-align:center;}
    .centerNav .cRaws img {height:140px; width:140px;}
    .centerNav .cRaws .trans1 {position: absolute; height:140px; width:140px;}
    .centerNav .cRaws .trans2 {position: absolute; left:2px; top:-2px; height:140px; width:140px;}
    .centerNav .cRaws .trans3 {position: absolute; left:2px; top:-2px; height:140xp; width:140px;}
    .centerNav .cRaws .trans4 {position: absolute; left:2px; top:-2px; height:140xp; width:140px;}
    .centerNav .cRaws .trans5 {position: absolute; left:2px; top:-2px; height:140xp; width:140px;}
    
    .centerNav .cBody {position: relative; width:100%;}
    .centerNav .cBody .cOne {position: absolute; width:70px; margin:1px; cursor: pointer;}
    .centerNav .cBody .cOne .cBor {width:100%;}
    .centerNav .cBody .cOne .body_answer {position: absolute; top:16px; left:30px; font-size:16px; color:#ffffff;}
    .centerNav .cBody .cOne .cNumber {margin:5px 0px; font-size:18px; color:#ffffff; text-align:center;}
    .centerNav .cBody .cOne img {width:40px; margin:5px 15px 5px 15px;}
    
    .centerNav .cBody .bodys {position: relative; margin: 0px auto; width:70px; height:70px;}
    .centerNav .cBody .bodys .cOne:nth-child(1) {top:40px; right:285px;}
    .centerNav .cBody .bodys .cOne:nth-child(2) {top:54px; right:205px;}
    .centerNav .cBody .bodys .cOne:nth-child(3) {top:63px; right:125px;}
    .centerNav .cBody .bodys .cOne:nth-child(4) {top:70px; right:40px;}
    .centerNav .cBody .bodys .cOne:nth-child(5) {top:70px; left:40px;}
    .centerNav .cBody .bodys .cOne:nth-child(6) {top:63px; left:125px;}
    .centerNav .cBody .bodys .cOne:nth-child(7) {top:54px; left:205px;}
    .centerNav .cBody .bodys .cOne:nth-child(8) {top:40px; left:285px;}
    
    .centerNav .cBody .bodys .cOne:nth-child(9) {top:152px; right:357px;}
    .centerNav .cBody .bodys .cOne:nth-child(10) {top:162px; right:278px;}
    .centerNav .cBody .bodys .cOne:nth-child(11) {top:172px; right:201px;}
    .centerNav .cBody .bodys .cOne:nth-child(12) {top:182px; right:123px;}
    .centerNav .cBody .bodys .cOne:nth-child(13) {top:188px; right:39px;}
    .centerNav .cBody .bodys .cOne:nth-child(14) {top:188px; left:39px;}
    .centerNav .cBody .bodys .cOne:nth-child(15) {top:182px; left:123px;}
    .centerNav .cBody .bodys .cOne:nth-child(16) {top:172px; left:201px;}
    .centerNav .cBody .bodys .cOne:nth-child(17) {top:162px; left:278px;}
    .centerNav .cBody .bodys .cOne:nth-child(18) {top:152px; left:357px;}
    
    .centerNav .cBody .bodys .cOne:nth-child(19) {top:254px; right:425px;}
    .centerNav .cBody .bodys .cOne:nth-child(20) {top:267px; right:348px;}
    .centerNav .cBody .bodys .cOne:nth-child(21) {top:277px; right:271px;}
    .centerNav .cBody .bodys .cOne:nth-child(22) {top:285px; right:197px;}
    .centerNav .cBody .bodys .cOne:nth-child(23) {top:291px; right:120px;}
    .centerNav .cBody .bodys .cOne:nth-child(24) {top:294px; right:38px;}
    .centerNav .cBody .bodys .cOne:nth-child(25) {top:294px; left:38px;}
    .centerNav .cBody .bodys .cOne:nth-child(26) {top:291px; left:120px;}
    .centerNav .cBody .bodys .cOne:nth-child(27) {top:285px; left:197px;}
    .centerNav .cBody .bodys .cOne:nth-child(28) {top:277px; left:271px;}
    .centerNav .cBody .bodys .cOne:nth-child(29) {top:267px; left:348px;}
    .centerNav .cBody .bodys .cOne:nth-child(30) {top:254px; left:425px;}
    
    .cover {position:fixed; top:0; left:0; width:100%; height:100%; background-color: #000000; opacity: 0.7; display:none;}
    .cover2 {position:fixed; top:23%; left:25%; width:640px; display:none;}
    .cover2 img {width:100%;}
    .cover2 .cover_panel {position: absolute; top:20%; left:30%; width:49%;}
    .cover2 .cover_panel .cover_rol {margin:15px auto;}
    .cover2 .cover_panel .cover_font {font-size:20px; color:#ffffff;}
    .cover2 .cover_panel .cover_select {appearance:none; -moz-appearance:none; -webkit-appearance:none; background: url("/img/weiai_sel.png") no-repeat scroll right center transparent; padding-right: 28px; width:200px; height:26px; border:1px solid #ffffff; background-color:#d5e9f2; border-radius: 5px;}
    .cover2 .cover_panel .cover_label {position: relative; left:-36px; top:13px;}
    .cover2 .cover_panel .cover_label img {width:36px;}
    .cover2 .cover_panel .cover_rol2 {margin:50px 63px;}
    .cover2 .cover_panel .cover_btn {width:200px; height:36px; border:1px solid #0168b7; background-color:#0168b7; border-radius: 5px; font-size:16px; color:#ffffff; cursor: pointer;}
    
    .centerNav .cClass {position: relative; top:345px; width:100%; height:140px;}
    .centerNav .cClass .classOne {float:left; margin:0px 3%; width:94%;}
    .centerNav .cClass .classOne img {width:100%;}
    .centerNav .cClass .classOne .class_title {position: absolute; top:16px; left:22px; width:160px; color:#ffffff; font-size:14px; text-align: left; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
    .centerNav .cClass .classOne .class_rec {position: absolute; top:44px; left:20px; width:160px; height:60px; color:#ffffff; font-size:14px; text-align: left; display:block; overflow:hidden; text-overflow:ellipsis;}
    .centerNav .cClass .classOne .class_start {position: absolute; top:44px; right:40px; color:#ffffff; font-size:22px;}
    .centerNav .cClass .svg-triangle {width: 30px; height: 30px; margin: auto;}
    .centerNav .cClass .svg-triangle polygon{fill:#0000FF;}
    
.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
    z-index: 0;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

.als-wrapper {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}

#demo1 {
    margin: 40px auto;
}

#demo1 .als-item {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

#demo1 .als-item img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#demo1 .als-prev, #demo1 .als-next {
    top: 50px;
}

#demo1 .als-prev {
    left: 20px;
}

#demo1 .als-next {
    right: 15px;
}