$content-max-width: 1000px;
$side-menu-width: 190px;

$main-content-padding: 40px;
$main-content-padding-right: 30px;
$main-content-padding-left: 30px;

$main-component-margin: 50px;
$selection-title-margin-bottom: 25px;